{% extends 'school/base.html' %}
{% load static %}

{% block content %}
<div class="main-p">
    <div class="profile-1">
        <div class="prof-desc">
            <p id="desc-name">Диана Ливинцева</p>
            <div class="desc-line"></div>
            <p id="desc-desc">Основатель проекта <em>diamond school</em>. Окончила с красным дипломом
                Санкт-Петербургский Государственный Академический Институт имени И.Е. Репина, а затем уехала учиться в
                Италию, где окончила Politecnico di Milano. Член Союза Акварелистов России. Преподает изобразительное
                искусство более 5 лет.</p>
        </div>
        <div class="prof-img">
            <img src="{% static 'school/portfolio.png' %}">
        </div>
    </div>
    <div class="profile-2">
        <div class="header-1">
            <h5>О Диане</h5>
        </div>
        <div class="prof2-desc">
            <p>Диана умеет превратить процесс учёбы в увлекательное приключение. Какой бы сложной ни
            казалась работа, будьте уверены: под её руководством вы точно справитесь с поставленной задачей!
Уже более 5 лет Диана учит взрослых и детей живописи и скетчингу, помогая раскрыть их талант. Работы учеников являются
            лучшим подтверждением тому, как здорово у неё это получается!</p></div>
        <div class="prof2-desc2">
            <h6>Интересные факты о Диане:</h6>
            <p>— Окончила Санкт-Петербургский государственный академический художественный лицей имени Б.В. Иогансона с медалью Российской Академии художеств за успехи в учебе.</p>
            <p>— С отличием окончила Санкт-Петербургский Государственный Академический Институт имени И.Е. Репина.</p>
            <p>— Получила дополнительное образование в Италии в Politecnico di Milano по программе Architecture and Urban Design.</p>
            <p>— Уже более восьми лет учит живописи взрослых и детей. И, судя по работам воспитанников, делает это отлично!</p>
            <p>— Участвовала во многих конкурсах, выставках и социальных проектах. Например, в форсайте «Будущий Петербург» с проектом «Остров Поколений». Расписывала стены Дома ребенка № 16 в Петербурге.</p>
            <p>— Была ассистентом программы «История искусств для детей: теория + практика» в Научно-исследовательском музее Российской Академии Художеств.</p>
            <p>— Рисует с самого детства и никогда не останавливается на достигнутом, непрерывно совершенствуя собственные навыки.</p>
            <p>— Работы Дианы Ливинцевой можно увидеть в фонде Академии Художеств, также они хранятся в частных собраниях России, Финляндии, Италии и Украины.</p></div>
    </div>
    <div class="profile-3">
        <p>Хотите начать обучение</p>
        <p>на курсах с Дианой?</p>
    </div>
</div>
{% include 'school/form-back.html' %}
{% endblock %}