{% load static %}
<div class="txt-1">
    <h3>Почему именно наши курсы?</h3> <br><br>
    <div class="lst-course">
        <div class="wrap-lst">
            <div class="check-mark"><img src="{% static 'school/check-mark.png'%}"></div>
            <div class="elem-lst"><p class="txt-title">ЛЕГКОЕ ОБУЧЕНИЕ В УДОБНОЕ ДЛЯ ВАС ВРЕМЯ</p>
                <p class="txt-cont">Наш курс полностью адаптирован для самостоятельного обучения. Мы добавили разные
                    уровни
                    доступа по количеству обратной связи от преподавателя для Вашего удобства.</p></div>
        </div>
        <div class="wrap-lst">
            <div class="check-mark"><img src="{% static 'school/check-mark.png'%}"></div>
            <div class="elem-lst"><p class="txt-title">ВОЗМОЖНОСТЬ РИСОВАТЬ ВСЕ!</p>
                <p class="txt-cont">За время прохождения курса у Вас получится создать более 26 удивительных работ
                    из
                    разделов: пейзаж, натюрморт, портрет. После курса Вы сможете рисовать то, что воображаете!</p>
            </div>
        </div>
        <div class="wrap-lst">
            <div class="check-mark"><img src="{% static 'school/check-mark.png'%}"></div>
            <div class="elem-lst"><p class="txt-title">ВЕСЬ ВАШ ПУТЬ МЫ БУДЕМ РЯДОМ</p>
                <p class="txt-cont">Группа поддержки и помощи из нескольких кураторов во главе c автором курса
                    всегда на
                    связи
                    на протяжении трех месяцев, что длится курс!</p></div>
        </div>

        <div class="wrap-lst">
            <div class="check-mark"><img src="{% static 'school/check-mark.png'%}"></div>
            <div class="elem-lst"><p class="txt-title">ВЫ ОСВОИТЕ НОВЫЕ ТЕХНИКИ РИСОВАНИЯ</p>
                <p class="txt-cont">Каждый урок станет для Вас открытием. Ведь мы расскажем простым языком о
                    сложном!
                    Здесь
                    можно прочесть отзывы наших учеников!</p></div>
        </div>

        <div class="wrap-lst">
            <div class="check-mark"><img src="{% static 'school/check-mark.png'%}"></div>
            <div class="elem-lst"><p class="txt-title">ПЕРЕД ВАМИ ОТКРЫВАЮТСЯ ПЕРСПЕКТИВЫ</p>
                <p class="txt-cont">Вы освоите много новых навыков. Возможно, Ваше новое хобби станет Вашим делом.
                    Ведь
                    цифровой рисунок сейчас считается очень перспективной нишей! Более 250 различных творческих
                    профессий
                    откроется для Вас! И c каждым годом их становится все больше!</p></div>

        </div>
    </div>


</div>